
/* css */

/* define font styles */
@media screen and (min-width: 0px) {
    html {
    font-size: 10px;
    font-family:"Courier Prime", 'Courier New', Courier, monospace;
    background-color: var(--black);
    }  
}

@media screen and (min-width: 600px) {
    html {
        font-size: 12px;
        font-family:"Courier Prime", 'Courier New', Courier, monospace;
        background-color: var(--black);
    } 
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
        font-family:"Courier Prime", 'Courier New', Courier, monospace;
        background-color: var(--black);
    } 
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.5rem;
}

h3, p {
    font-size: 2rem;
}


h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

/* define theme colors */
:root {
    --black: #1d1e18;
    --red: #c62D0a;
    --white: #fef9ef;
    --grey: #bab9b9;
    --blue: #4e598c;
    --dark-blue: #34394c;
    --dark-red: #821800;
    --space: 0.5rem;
}


/* add div outlines to help me troubleshoot 
div {
    outline: 2px solid white;
} */

body {
    margin: 0;
}

.intro {
    color: var(--white);
    background-color: var(--black);
}

.frame {
    height: 100vh;
    display: grid;
    place-items: center;
    padding: 2rem;
}

.fix {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.25rem;
}

.fix-uncenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.frame-transition {
    height: 100vh;
    width: 100vw;
}

.transition {
    height: 100vh;
    background-image: url(../svg/quilt-background.svg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.think {
    overflow: scroll;
}

.user-stories {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: var(--white);
    align-items: start;
    justify-items: start;
    z-index: 0;

}

@media screen and (min-width: 600px) {
    .user-stories {
    height: 100vh;
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--white);
    gap: 2rem;
    align-items: start;
    justify-items: start;
    z-index: 0;

    }   
}

.story {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.story img {
    align-self: center;
    width: 259px;
    height: 259px;
    object-fit: contain;
    display: block;
}

.expected {
    padding: 20%;
    color: var(--white);
    grid-column: 1/-1;
    z-index: 1;
}

.question {
    padding: 0% 20% 0% 20%;
    color: var(--white);
    text-align: center;
}

.issue {
    color: var(--white);
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 3%;
}

.urban-issue {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    column-gap: 5px;
    row-gap: 0px;
}

.u-on {
    width: 100%;
    height: 90%;
    background: var(--red);
}

.overall-issue {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    column-gap: 5px;
    row-gap: 0px;
}

.o-on {
    width: 100%;
    height: 90%;
    background: #434341;
}

.rural-issue {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    column-gap: 5px;
    row-gap: 0px;
}

.r-on {
    width: 100%;
    height: 90%;
    background-color: var(--dark-blue);
}

.suburban-issue {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    column-gap: 5px;
    row-gap: 0px;
}

.s-on {
    width: 100%;
    height: 90%;
    background-color: var(--white);
}


.off {
    width: 100%;
    height: 90%;
    outline: 1px solid #282a20;
}

.label {
      grid-column: 1/-1;
      color: var(--white);
      font-size: 1.75rem;
}

.frame-stacked {
    place-items: start center;
    align-content: center;
    row-gap: 1.5rem;
}

.explain {
    color: var(--white);
    padding: 20%;
}

.centered {
    text-align: center;
}

.imporant {
    font-size: 3rem;
    font-weight: bold;
}

.personal-story {
    color: var(--white);
    padding: 15%;
    font-size: .75rem;
}

.link {
    font-size: .25rem;
}

a {
    color: var(--white);
}

.tiny-usa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.resize {
    width: 20%;
    height: auto;
    margin: auto;
}

.end {
    color: var(--white);
    text-align: center;
}

.frame-last {
    height: 30vh;
    place-items: center;
    padding: 2rem;
}

.frame-dummy {
    height: 75vh;
   
}

.frame-dumbest {
    height: 17vh;
}

.quilted {
    width: 50vw;
    height: auto;
}

.john {
    font-size: 1.85rem;
}